@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
} 


#navbar{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin: auto;
    align-items: center;
    height: 70px;
}

.left{
    color: brown;
    width: 20px;
}

.mid .list{
   display: flex; 
   list-style: none;
} 

.list .box1{
    margin: 10px;
    padding: 10px;
}

.right{
    display: flex;
}

.right .sign{
    margin: 10px;
    padding: 5px;
}


.main{
    /* background-color: bisque; */
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.sec1{
    margin: 2px 3px;
    padding: 3px;
}

.sec1 #top{
    color: rgb(61, 9, 90);
    align-items: center;
    justify-content: space-between;
    margin: 30px 50px;
} 

.sec1 #top h1{
    margin: 30px 300px 10px 600px;
    
}

.sec1 .top_down{
    display:flex;
    margin: 40px 20px;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
}

.sec1 .top_down img{
    border-radius: 15px;
    border: 4px solid black;
}

.sec1 .top_down h1{
    margin: 50px;
    padding: 20px;
    top: 70px;
    color: rgb(48, 28, 67);
    text-align: center;
    /* font-size: 1.3rem; */
}

.sec1 .top_down #head{
    /* font-size: 1.3rem; */
    height: 20%;
    width: 50px;
}

/* .sec1 .top_down h2{

}
 */

.sec1 .top_down p{
    color: rgb(8, 8, 57);
    margin: 20px 30px;
    width: 100%;
    /* flex-wrap: wrap; */
    
}

.top_down .offer{
    margin: 30px 60px;
    /* word-wrap: break-word; */
    flex-wrap: nowrap;
}

.top_down .offer h1{
    color: rgb(160, 25, 48);
    /* box-shadow: 1px 1px 3px #888888; */

} 

.top_down .offer p{
    margin: 2px 50px;
}

.main .sec1 .offer p{
    word-wrap: break-word;
    margin: 2px 10px;
    padding: 8px;
}

.main .sec1 .offer #para1{
    word-break: break-all;
}




/* # how to stich */


/* .sec2{ */
    /* background-color: rgb(231, 236, 236); */
    /* justify-content: space-between; */
    /* align-items: center; */
/* } */

.sec2 h1{
    font-size: xx-large;
    color: rgb(61, 9, 90);
    align-items: center;
    position: relative;
    margin: 80px 80px 85px 300px;
    bottom: 60px;
}

#services{
    display: flex;
    /* position: ; */
}

#services .box2{
    /* width: 20px 10px;
    height: auto; */
    margin: 30px 60px;
    padding: 10px;


} 

#services .box2 img{ 
    /* width: 200px 10px;
    height: 50% 500%; */
    size-adjust: 30px 20px;
    /* right: 2px; */
    margin-left:25px ;

}

#services .box2 .img1{
    position: absolute;
    width: 15px 15px;
    height: 60px;
    top: 950px;
    /* z-index: 1; */
    
}


/* section 3 */

.sec3{
    /* justify-content: space-between; */
    display: flex;
    height: 420px;
    width: 800px;
    
    
}


.sec3 img{
    margin: 56px;
    padding: 30px;
    right: 20%;
    top: 20%;
    /* align-content: center; */
    justify-content: space-between;
}

.sec3 h2{
    /* font-size: 15px; */
    /* margin: 2px 20px; */
    /* padding: 20px;  */
    margin: 56px;
    padding: 30px;
    right: 70px;
    top: 80%;
    
    /* right: 1000px; */
}


/* section 4 */

.sec4{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10px 20px;
    padding: 30px;
    

}

.sec4 .box20{
    color: rgb(121, 15, 148);
}



/* section 5 */

.sec5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(31, 44, 69);
    box-shadow: 5px 10px 18px #888888;
}

.sec5 h2{
    margin-bottom: 20px;
}

.sec5 h4{
    margin-bottom: 15px;
}

.sec5 .last1{
    margin-left: 60px;
    margin-top: 40px;

}

.sec5 .last2{
    margin-right: 60px; 
    margin-top: 40px;

}

.sec5 .last3{
    margin-right: 60px;
    margin-top: 1px;
}

.sec5 .last3  img{
    height: 30px;
    width: 100px;
}  

.sec5 .last1 .end{
    color: darkred;
}

.sec5 .last2 #end2{
    color: darkred;
}

.sec5 .last3 .end{
    color: darkred;
}
































/*
#login{
    margin: 10px 20px;
    padding: 20px 14px;
}



.buttonnav{
    display: flex;
    margin: 10px 10px;
    padding: 50px 80px;
    font-size: 1.3rem;
}

.buttonnav h3{
    margin: 5px 5px;
    padding: 10px 10px;
    font-size: 1.3rem;
}
 */



/* main */
/* 
#heading{
    color: rgb(86, 139, 0);
    font-size: medium;
    padding: auto;
    margin: auto;
    justify-content: center;
}

.sec1{
    display: block;
}

.sec1 h1{
    color: rgb(107, 6, 6);
    font-size: large;
    padding: auto;
    margin: auto;
    /* text-justify: auto; */
    /* margin: 1.9rem;
}

.sec1 img{
    border: 2px;
    margin: 1.2rem;
    justify-items: center;
    width: 500px;
    height: 300px;
    margin-right: 200px;
    margin-left: 200px;
}

.sec1 h4{
    justify-items: center;
    margin: 1.5rem;
}  */

/* section2*/
/* 
#sec2{
    display: block;
}

#sec2 .h1-center{
    color: rgb(199, 39, 53);
}

#sec2 #services{
    display: flex;
    margin: 34px;
}

.sec2 .div1{
    margin: 20px;
}

.sec2 .div1 h2{
    margin:20px ;
    color: rgb(230, 75, 75);
}

.sec2 .div1 h5{
    color: rgb(18, 10, 10);
    word-wrap: break-word;
}

.sec2 .div2 h2{
    color: blue;
}

.sec2 .div2 h5{
    word-wrap: break-word;
} */












/* .sec3{
    margin: 100px;
    display: flex;
    padding: 50px;
} */
/* 
.sec3 img{
    margin: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px; */

    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
/* } */






/* 
.sec4{
    display: inline-flex;
}

.sec h5{
    display: flex; */
    /* margin: 40px;
    padding: 50px 50px;
    margin-left: 10px;
    margin-right: 10px; */
    /* font-size: 1.3rem;
    padding: 50px 30px;
    margin: 50;

}



.sec5{
    margin: 2px;
} */




